# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Distribution / packaging
*.egg-info/
dist/
!custom_components/helman/frontend/dist/
!custom_components/helman/frontend/dist/helman-config-editor.js
build/

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Home Assistant
.storage/
